@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

html {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  /* display: flex; */
  justify-content: center;
  align-items: top;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #f4cbd7;
  background-image: url(https://res.cloudinary.com/rac506/image/upload/v1662142036/proy/fondos/beautiful-flowers_t8hlgl.webp);
}
body {
  /* background: #f4cbd7!important;  */
  height: 100vh;
  background-image: url(https://res.cloudinary.com/rac506/image/upload/v1662142036/proy/fondos/beautiful-flowers_t8hlgl.webp);
}
.beauty-spa {
  font-family: "Lobster", cursive;
  font-size: 1.5rem !important;
  color: #f4cbd7 !important;
  font-weight: 400;
}
.menu {
  font-size: 1.5rem !important;
  background: #f4cbd7 !important;
}
.logo {
  height: 2.5rem;
  margin-right: 1rem;
  background: #f4cbd7 !important;
  border-radius: 1rem;
  padding: 0.3rem;
}

.layout {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-areas:
    "header header header header"
    "content content content content"
    "footer footer footer footer";
  grid-template-rows: 100px auto 70px;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
}
.content {
  grid-area: content;
  height: 65vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: auto;
  padding-left: 15px;
}
footer {
  height: 70px;
  grid-area: footer;
  width: 100vw;
  color: black;
  border-top: 1px solid #454545;
  text-align: end;
  line-height: 68px;
  padding: 5px 10px 0 0 !important;
  margin: 0% !important;
}
.product {
  flex-grow: 1;
  transition: transform 250ms;
}

.product:hover {
  transform: translateY(-3px);
}

.btnColor {
  background-color: #d7aeb2f3 !important;
  color: rgb(5, 5, 5) !important;
  border-color: #454545 !important;
}

.badgeColor {
  border-radius: 100%;
  font-weight: 500 !important;
  background-color: #d7aeb2f3 !important;
  padding: 3px 8px;
  color: rgb(5, 5, 5) !important;
}
@media (max-width: 600px) {
  .content {
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: scroll;
  }
  .produc {
    margin: 5px 0 !important;
  }
}
